<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 pading">
                    <h2>Inicio de sesion</h2>
                </div>
                <div class="col-sm-12 pading">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                
                <div class="col-sm-12 pading">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">P</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-sm-12 pading">
                    <button type="button" class="btn btn-success btn-block">Iniciar</button>
                </div>
                
            </div>
        </div>
    </div>


    

</body>

</html>