<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />

    <title></title>
  </head>
  <h1 class="text-hide" style="background-image: url('col.jpg');"></h1>

  <body>
      <h3 align="center">INSTITUCION INTERACTIVA AMBIENTAL</h3>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ad2f0f;">
    <a class="navbar-brand" href="#"><strong>Logo </strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/'><strong>Inicio </strong> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><strong>Modulos </strong> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline">
        <!--input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
        <a routerLink="/sesion" class="btn btn-outline-success my-2 my-sm-0" style="background-color: #20f5e3;">Iniciar
          sesion</a>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>


  <footer>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Soporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Nuestros datos</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Institucion Interactiva Ambiental</a>
      </div>
    </div>
  </footer>
  </body>





</html>