


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills" style="background-color: #a7babe;">
        <li class="nav-item">
          <a class="nav-link active" href="#">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Permisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Materias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Instituto</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-title">I.I.A</h3>
      <p class="card-text">Somos una institucio .... .</p>
      <a href="#" class="btn btn-primary" style="background-color: #32c8ee;">Conocenos</a>
    </div>
  </div>
